.cache/
.cask/
.lsp-session-v1
.mc-lists.el
.org-id-locations
.recentf
auto-save-list
autosave
backups
bookmarks
cider-history
eln-cache
elpa
emojis/
forge-database.sqlite
network-security.data
org-gcal
parinfer-rust
persist
places
projectile-bookmarks.eld
projectile.cache
projects
quelpa/
recentf
request
site-lisp
snippets
straight
transient
url
var
.extension/
elpaca/