.DS_STORE
.cache/
.cask/
.dap-breakpoints
.extension/
.lsp-session-v1
.mc-lists.el
.org-id-locations
.recentf
auto-save-list
autosave
backups
bookmarks
cider-history
customs.el
*.sqlite
eln-cache
elpa
elpaca/
emojis/
forge-database.sqlite
history
multisession/
network-security.data
org-gcal
org-roam.db
parinfer-rust
persist
places
projectile-bookmarks.eld
projectile.cache
projects
quelpa/
recentf
request
site-lisp
snippets
straight
tramp
transient
tree-sitter
url
var
undo-fu-session